<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discover">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="favorite">
      <ion-icon name="heart-circle-outline"></ion-icon>
      <ion-label>Favorite</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="enrollement">
      <ion-icon name="at-circle-outline"></ion-icon>
      <ion-label>Enrollement</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="logout()">
      <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      <ion-label>Log Out</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
 </ion-tabs>

